<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dietitianshreya.eatrightdietadmin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dietitian"
        android:label="@string/app_name"
        android:roundIcon="@drawable/dietitian"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.dietitianshreya.eatrightdietadmin.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.dietitianshreya.eatrightdietadmin.ClientListActivity" />
        <activity android:name="com.dietitianshreya.eatrightdietadmin.CreateDiet" />
        <activity android:name="com.dietitianshreya.eatrightdietadmin.ClientDetailActivity" />
        <activity
            android:name="com.dietitianshreya.eatrightdietadmin.ChatActivity"
            android:theme="@style/Toolbar.Light" />
        <activity android:name="com.dietitianshreya.eatrightdietadmin.ViewDietActivity" />
        <activity android:name="com.dietitianshreya.eatrightdietadmin.ChooseMealActivity" />
        <activity android:name="com.dietitianshreya.eatrightdietadmin.BookTest" />
        <activity android:name="com.dietitianshreya.eatrightdietadmin.DiaryViewActivity" />
        <activity android:name="com.dietitianshreya.eatrightdietadmin.CompleteProfileActivity" />
        <activity android:name="com.dietitianshreya.eatrightdietadmin.ClientProfileActivity" />
        <activity android:name="com.dietitianshreya.eatrightdietadmin.UpcomingAppointmentsActivty" />
        <activity android:name="com.dietitianshreya.eatrightdietadmin.SignupRequestActivity" />
        <activity android:name="com.dietitianshreya.eatrightdietadmin.MealChangeActivity" />
        <activity android:name="com.dietitianshreya.eatrightdietadmin.MealChangeRequestActivty" />
        <activity android:name="com.dietitianshreya.eatrightdietadmin.RescheduleAppointments" />
        <activity android:name="com.dietitianshreya.eatrightdietadmin.TestBooking" />
        <activity android:name="com.dietitianshreya.eatrightdietadmin.ExtensionLeadsActivity" />
        <activity android:name="com.dietitianshreya.eatrightdietadmin.LastMonthUsers" />
        <activity android:name="com.dietitianshreya.eatrightdietadmin.DietDiary" />
        <activity android:name="com.dietitianshreya.eatrightdietadmin.OverallProgress" />
        <activity android:name="com.dietitianshreya.eatrightdietadmin.BookAppointment" />
        <activity android:name="com.dietitianshreya.eatrightdietadmin.TemplateSelection" />
        <activity android:name="com.dietitianshreya.eatrightdietadmin.Login" />
        <activity
            android:name="com.dietitianshreya.eatrightdietadmin.view.FullScreenImageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.dietitianshreya.eatrightdietadmin.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.dietitianshreya.eatrightdietadmin.Utils.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.dietitianshreya.eatrightdietadmin.Utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.dietitianshreya.eatrightdietadmin.SendGroupNotification" />
        <activity android:name="com.dietitianshreya.eatrightdietadmin.DietitianProfileReviews" />
        <activity android:name="com.dietitianshreya.eatrightdietadmin.NotesSelection"
        android:theme="@style/Toolbar.Light">
        </activity>
        <activity android:name="com.dietitianshreya.eatrightdietadmin.ChatView">

        </activity>
    </application>

</manifest>